:root.color-scheme-light {
    --main-color: #a855f7;
    --main-color-dark: #581c87;
    --main-color-light: #d8b4fe; 
    --main-color-lighter: #c084fc;
    --background-color: #f5f5f4;
    --text-color-main: #1f2937;
}

:root.color-scheme-dark {
    --main-color: #6b21a8;
    --main-color-dark: #581c87;
    --main-color-light: #9333ea; 
    --main-color-lighter: #c084fc;
    --background-color: #1f2937;
    --text-color-main: #f5f5f4;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: var(--text-color-main);
    background-color: var(--background-color);
}

.main-controls {
    border: 0.5rem solid var(--main-color);
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 2rem;
    text-align: center;
    padding: 1.5rem 0.5rem;
    background-color: var(--main-color-light);
}

.main-controls > * {
    margin-bottom: 1rem;
}

.main-controls input {
    font-size: 1.5rem;
    width: 20vw;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    border-width: 4px;
    background-color: var(--main-color-light);
    font-family: inherit;
    pointer-events: all;
    color: var(--text-color-main)
}

.main-output {
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.main-output button {
    margin-top: 2rem;
}

.image-resolution,.image-aspect-ratio {
    font-weight: bold;
    cursor: pointer;
    text-align: end;
}

.hidden {
    display: none;
}

button {
    background-color: var(--main-color);
    border-width: 0;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    font-family: inherit;
}

button:hover {
    background-color: var(--main-color-dark);
}

button:active {
    background-color: var(--main-color-lighter);
}

.image-resolution-container, .image-aspect-ratio-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
}

footer a {
    color: var(--text-color-main)
}

svg {
    position: absolute;
    height: 2rem;
    width: 2rem;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

:root.color-scheme-light svg.dark {
    opacity: 0;
}

:root.color-scheme-dark svg.light {
    opacity: 0;
}

div[role="button"] {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 0 0.5rem;
    width: 2rem;
    height: 2rem;
}

div[role="button"] >span {
    position: relative;
}

.notification {
    position: fixed;
    top: 1rem;
    width: 80vw;
    text-align: center;
    background-color: var(--main-color);
    color: white;
    padding: 0.5rem;
    top: -4rem;
    transition: all 0.3s ease-in-out;
    border-radius: 0.5rem;
}

.notification.show {
    top: 1rem; 
}

.notification.hide {
    top: -4rem; 
}

@media (min-width: 960px) {
    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .main-controls, .image-canvas, .main-output {
        max-width: 60vw;
    }

    .main-controls input {
        width: 10vw;
    }

    span[role="button"] {
        top: 2rem;
        right: 2rem;
    }
}

@media (min-width: 1280px) {
    .main-controls, .main-output {
        max-width: 40vw;
    }
}

@media (min-height: 900px) {
    footer {
        position: fixed;
    }
}